/* Write your CSS here */
.planet-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-heading {
  color: #05acff;
  font-size: 36px;
  font-weight: 800;
}

.planet-img {
  height: 50%;
  width: 50%;
}

.planet-name {
  color: #f8fafc;
  font-size: 29px;
  font-weight: bold;
}

.planet-description {
  text-align: center;
  color: #f1f5f9;
  font-size: 20px;
  max-width: 800px;
}
@media screen and (min-width: 768px) {
  .planet-description {
    font-size: 20px;
    margin-bottom: 40px;
  }
}
